In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:/Users/jaydev singh/Desktop/car.csv")

In [6]:
x=df[(df['MSRP']>=38000) & (df['MSRP']<=40000)]
x

,Make,Model,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
7,BMW,1 Series,230.0,6.0,MANUAL,rear wheel drive,2.0,Coupe,28,19,3916,39300
10,BMW,1 Series,320.0,6.0,MANUAL,rear wheel drive,2.0,Coupe,28,20,3916,39600
42,Audi,200,217.0,5.0,MANUAL,all wheel drive,4.0,Sedan,22,16,3105,38650
54,BMW,3 Series Gran Turismo,300.0,6.0,AUTOMATIC,all wheel drive,4.0,4dr Hatchback,30,20,3916,38950
100,Mercedes-Benz,300-Class,148.0,6.0,AUTOMATIC,rear wheel drive,4.0,Sedan,22,18,617,39000
...,...,...,...,...,...,...,...,...,...,...,...,...
3917,Suzuki,Verona,155.0,6.0,AUTOMATIC,front wheel drive,4.0,Sedan,25,18,481,38670
3920,Nissan,Versa Note,109.0,4.0,AUTOMATIC,front wheel drive,4.0,4dr Hatchback,39,31,2009,38325
3923,Nissan,Versa,109.0,4.0,AUTOMATIC,front wheel drive,4.0,Sedan,35,26,2009,39545
3992,Volvo,XC60,300.0,6.0,AUTOMATIC,all wheel drive,4.0,4dr SUV,24,17,870,38100
3993,Volvo,XC60,302.0,4.0,AUTOMATIC,front wheel drive,4.0,4dr SUV,30,22,870,38900

In [37]:
x=df['city mpg'].nlargest(10).sort_values(ascending=False)

In [52]:
typ=df[(df['Vehicle Style']=='Sedan')&(df['Transmission Type']=='MANUAL')&(df['Number of Doors']==4)]
typ

,Make,Model,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11,Audi,100,172.0,6.0,MANUAL,front wheel drive,4.0,Sedan,24,17,3105,31500
13,Audi,100,172.0,6.0,MANUAL,all wheel drive,4.0,Sedan,21,16,3105,37200
15,Audi,100,172.0,6.0,MANUAL,all wheel drive,4.0,Sedan,22,16,3105,48250
16,Audi,100,172.0,6.0,MANUAL,front wheel drive,4.0,Sedan,22,17,3105,43550
20,Mercedes-Benz,190-Class,130.0,4.0,MANUAL,rear wheel drive,4.0,Sedan,26,18,617,2000
...,...,...,...,...,...,...,...,...,...,...,...,...
3930,Acura,Vigor,176.0,5.0,MANUAL,front wheel drive,4.0,Sedan,24,18,204,28850
3953,Subaru,WRX,305.0,4.0,MANUAL,all wheel drive,4.0,Sedan,23,17,640,28170
3955,Subaru,WRX,268.0,4.0,MANUAL,all wheel drive,4.0,Sedan,28,21,640,33670
3956,Subaru,WRX,268.0,4.0,MANUAL,all wheel drive,4.0,Sedan,27,20,640,24520
4051,Toyota,Yaris iA,106.0,4.0,MANUAL,front wheel drive,4.0,Sedan,39,30,2031,75570